#title{
	text-align:center;
	/*line-height: 20em;*/
	color: white;
	font-family: Copperplate Gothic Light;
	/*vertical-align: middle;*/
	margin-bottom: -1px;
	position:relative;
	font-size: 100px;
}
#header{
	position: relative;
	text-align: center;
	margin: -1px 0px 0px -1px;
	color: white;
	font-size: 30px;
	font-family: Copperplate Gothic Light;	
}
body{
	/*background-color: pink;*/
	/*align:center;
	background-image: url("Background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
*/
	/*border: -1em -1em -1em -1em;*/
	  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}
.head{
	position: absolute;
  	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
	z-index:300;
	/*vertical-align: middle;*/
}
.background img{
	position:relative;
	height:100%;
	width:100%;
}
.background{
	top:0;
	left: 0;
	position:absolute;
	z-index: -1;
	height:100%;
	width:100%;
}
.parent{
}
.child{
	z-index: 2;
	position: absolute;
	height:50%; 
	width:50%;
	/*border-radius:10px;*/
	opacity: 0.4;
	filter: alpha(opacity=40);
	background-color: #3B5998;
	/*border: 1px dashed white;*/
}
.child:hover{
	opacity: 0.8;
	filter: alpha(opacity=40);
	background-color: #3B5998;
}
#facebook{
	/*background-color: #3B5998; */
	top: 0; 
	left: 0; 
}
#github{
	/*background-color: black;*/
	top:0;
	right:0;
}
#resume{
	/*background-color: #33CC33;*/
	bottom:0;
	left:0;
}
#linkedin{
	/*background-color: #FFFF33;*/
	bottom:0;
	right:0;
}
#facebook img{
	position: absolute;
	width: 200px;
	height:200px;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#github img{
	position: absolute;
	width: 200px;
	height:180px;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#resume img{
	position: absolute;
	width: 200px;
	height:200px;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#linkedin img{
	position: absolute;
	width: 200px;
	height:200px;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
/*div{
    border: 2px dashed black;
    border-radius: 5px;
}
#header{
    height:50px;
    width:400px;
    background-color:#0066FF;
    position: fixed;
    z-index:1;
}
.left{
    height:400px;
    width:30%;
    background-color: #66FF33;
    float:left;
}
.right{
    height: 400px;
    width: 65%;
    background-color: #FF6666;
    float:right;
}
#footer{
    height: 50px;
    background-color: #0066FF;
    clear:both;
}*/