h1{
	text-align:center;
	color: #add4d6;
	font-family: Copperplate Gothic Light;
	z-index:1;
}
body{
	border: 1px dashed blue;
	margin: -2px -2px -2px -2px;
}
.parent{
	height:50%;
}
.child{
	/*width:50%;
	height:300px;
    display: inline-block;*/
}
#facebook{
	background-color: #3B5998;
	/*float:left;*/
	position: absolute; top: 0; left: 0; height: 50%; width: 50%;
}
#github{
	background-color: black;
	border: 1px dashed blue;
	
	top:0;
	float:right;
	height:100%;
	width:50%;
}
#resume{
	background-color: #33CC33;
	float:left;
}
#linkedin{
	background-color: #FFFF33;
	float:right;
}

/*div{
    border: 2px dashed black;
    border-radius: 5px;
}
#header{
    height:50px;
    width:400px;
    background-color:#0066FF;
    position: fixed;
    z-index:1;
}
.left{
    height:400px;
    width:30%;
    background-color: #66FF33;
    float:left;
}
.right{
    height: 400px;
    width: 65%;
    background-color: #FF6666;
    float:right;
}
#footer{
    height: 50px;
    background-color: #0066FF;
    clear:both;
}*/