h1{
	text-align:center;
	line-height: 15em;
	color: #add4d6;
	font-family: Copperplate Gothic Light;
	z-index: -1;
	vertical-align: middle;
}
img{
	z-index: 100;
}
body{
	background-color: pink;
	align:center;
}
.parent{
	height:50%;
}
.child{
	position: absolute;
	height:50%; 
	width:50%;
	border-radius:10px;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
#facebook{
	/*background-color: #3B5998;*/ 
	top: 0; 
	left: 0; 
}
#github{
	/*background-color: black;*/
	top:0;
	right:0;
}
#resume{
	/*background-color: #33CC33;*/
	bottom:0;
	left:0;
}
#linkedin{
	/*background-color: #FFFF33;*/
	bottom:0;
	right:0;
}

/*div{
    border: 2px dashed black;
    border-radius: 5px;
}
#header{
    height:50px;
    width:400px;
    background-color:#0066FF;
    position: fixed;
    z-index:1;
}
.left{
    height:400px;
    width:30%;
    background-color: #66FF33;
    float:left;
}
.right{
    height: 400px;
    width: 65%;
    background-color: #FF6666;
    float:right;
}
#footer{
    height: 50px;
    background-color: #0066FF;
    clear:both;
}*/